.header__wrapper {
    margin-bottom: 40px;
    margin-top: 40px;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}
.logo {
    color: $logo-color;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.blue {
    color: $background-button-color;
}
.site__list {
    color: $title-text-color;
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;

}
.site__li:not(:last-child) {
    margin-right: 50px;
}
.site__list__link:hover {
    color: $background-button-color;
}
.site__list__link {
    color: $title-text-color;
    text-decoration: none;
    position: relative;
}
.site__list__link {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    color: $primary-text-color;
    position: relative;
}
.contact__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.telephone,
.site__number {
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
}

.icon__smartphone,
.icon__email {
    margin-right: 10px;
    fill: $primary-text-color;
}

.email:hover,
.site__number:hover,
.email:focus,
.site__number:focus {
    color: $background-button-color;
}

.email:hover .icon__email,
.site__number:hover .icon__smartphone {
    fill: $background-button-color;
}
.email {
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin-right: 50px;
}
.site__list__link .current::after {
    content: "";
    display: block;
    background-color: $background-button-color;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -32px;
    transition: background-color 2000ms ease;
}

.site__link:hover .current::after {
    background-color: $background-color-after;
    transition: background-color 2000ms ease;
}
.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}